<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Encoder & Decoder</title>
</head>
<body>
    <h1>File Encoder & Decoder</h1>

    <h2>Encode File</h2>
    <form action="/encode" method="POST" enctype="multipart/form-data">
        <label for="encode_file">Select File to Encode:</label>
        <input type="file" id="encode_file" name="file" accept=".txt">
        <button type="submit">Encode</button>
    </form>

    <br>
    {% if encoded_file != None %}

        <h3>Encoded File</h3>
        <a href="/download{{ encoded_file }}" >Download</a>

    {% endif %}
    <br>
    

    <h2>Decode File</h2>
    <form action="/decode" method="POST" enctype="multipart/form-data">
        <label for="decode_file">Select File to Decode:</label>
        <input type="file" id="decode_file" name="file" accept=".bin">
        <button type="submit">Decode</button>
    </form>
    <br>
    {% if decoded_file != None %}

        <h3>Decoded File</h3>
        <a href="/download/encoded/{{ decoded_file }}" >Download</a>

    {% endif %}
    <br>
    
</body>
</html>
